.container {
  max-width: 1110px;
}

a {
  text-decoration: none !important;
  color: black;
}

.bg {
  background: url(../img/header/bg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

h4 {
  text-align: center;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-img {
  margin-right: 30px;
}

.header__container-nav-link {
  margin-right: 30px;
}

.header__block-link:last-child {
  margin-left: 15px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.hero__container {
  padding-top: 100px;
}

.hero__container-title {
  font-weight: bold;
  max-width: 700px;
  font-size: 72px;
  line-height: 98px;
}

.hero__container-button {
  margin-top: 30px;
  padding: 16px 41px;
  color: white !important;
  background: #8C30F5;
  border-radius: 8px;
}

.brands {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E2E2e2;
  border-bottom: 1px solid #E2E2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands-img {
  margin-right: 64px;
}

.brands-img:last-child {
  margin-right: 0px;
}

.feature {
  margin-top: 70px;
}

.feature-title {
  font-size: 48px;
  line-height: 64px;
}

.feature__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__list-item {
  text-align: center;
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.feature__list-item:nth-child(3) {
  margin-right: 0px;
}

.feature__list-item:nth-child(6) {
  margin-right: 0px;
}

.feature__list-item-title {
  font-weight: 400;
  margin-top: 25px;
  font-size: 24px;
  line-height: 32px;
}

.feature__list-item-text {
  font-size: 16px;
  line-height: 26px;
}

.stats {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats__block {
  max-width: 50%;
}

.stats__block-title {
  font-size: 48px;
  line-height: 64px;
}

.stats__block-subtitle {
  font-size: 18px;
  line-height: 32px;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stats__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__list-item-info {
  margin-left: 16px;
}

.stats__list-item-info-title {
  font-weight: 500;
  margin-bottom: 0px !important;
  font-size: 28px;
  line-height: 40px;
}

.stats__list-item-info-subtitle {
  font-size: 16px;
  line-height: 26px;
}

.headline {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__container {
  margin-left: 70px;
}

.headline__container-title {
  font-size: 40px;
  line-height: 54px;
}

.headline__container-text {
  font-size: 18px;
  line-height: 32px;
}

.headline__container-button {
  padding: 0px !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #8C30F5;
}

.enter {
  margin-top: 90px;
  margin-bottom: 50px;
}

.enter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.enter__container-title {
  font-size: 40px;
  line-height: 54px;
}

.enter__container-text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0px !important;
}
/*# sourceMappingURL=main.css.map */